@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    color: hsl(0deg 0% 88%);
    background-color: hsl(0deg 0% 4%);
    font-family: "Geist", sans-serif;
}

@theme {
    --color-font: hsl(0deg 0% 88%);
    --color-font-clear: hsl(0deg 0% 100%);
    --color-background: hsl(0deg 0% 4%);
    --color-primary: #ffdc8b;
    --color-card: hsl(0deg 0% 8%);
    --color-card-2: hsl(0deg 0% 12%);
    --color-card-3: hsl(0deg 0% 22%);
    --color-card-edge: hsl(0deg 0% 14%);
    --color-card-edge-2: hsl(0deg 0% 16%);
}